<div class="modal-header">
  <h4 class="modal-title pull-left">货物品名编辑</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table text-right" id="search-head">
    <tr>
      <td class="wid-fix"><label for="goodsNumber"><i class="icons-red">*</i>英文名：</label></td>
      <td> <input type="text" class="form-control" id="goodsNumber" placeholder="" [(ngModel)]="paramsObj.cargoNumber"
          name="goodsNumber"></td>
      <td class="wid-fix"><label for="goodsName"><i class="icons-red">*</i>中文名：</label></td>
      <td> <input type="text" class="form-control" id="goodsName" placeholder="" [(ngModel)]="paramsObj.cargoName"
          name="goodsName"></td>
    </tr>
    <tr>
      <td class="wid-fix"><label for="goodsType"><i class="icons-red">*</i>货物类别：</label></td>
      <td>
        <select name="goodsType" id="goodsType" class="form-control" [(ngModel)]="paramsObj.typeId">
          <option value="">请选择</option>
          <option value="{{item.id}}" *ngFor="let item of goodsTypeList">{{item.name}}</option>
        </select>
      </td>
      <td><label for="cargoImageUrl"><i class="icons-red">*</i> 货物图片：</label></td>
      <td rowspan="3">
        <div class="clearfix">
          <nz-upload nzAccept="image/*" [nzBeforeUpload]="beforeUpload" nzListType="picture-card"
            [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" [nzShowUploadList]="showUploadList"
            [nzPreview]="handlePreview" [nzRemove]="handleRemove">
            <i nz-icon nzType="plus"></i>
            <div class="ant-upload-text">上传</div>
          </nz-upload>
          <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
            (nzOnCancel)="previewVisible = false">
            <ng-template #modalContent>
              <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
            </ng-template>
          </nz-modal>
        </div>
      </td>
    </tr>
    <tr>
      <td><label for="production">厂家：</label></td>
      <td>
        <select name="production" id="production" class="form-control" [(ngModel)]="paramsObj.plantId">
          <option value="">请选择</option>
          <option value="{{item.code}}" *ngFor="let item of productionList">{{item.name}}</option>
        </select>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="wid-fix"><label for="agent">代理商：</label></td>
      <td>
        <select name="agent" id="agent" class="form-control" [(ngModel)]="paramsObj.agentId">
          <option value="">请选择</option>
          <option value="{{item.code}}" *ngFor="let item of agentList">{{item.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label for="orignPlace"><i class="icons-red">*</i>产地：</label></td>
      <td>
        <select name="orignPlace" id="orignPlace" class="form-control" [(ngModel)]="paramsObj.producePlaceId">
          <option value="">请选择</option>
          <option value="{{item.code}}" *ngFor="let item of originPlaceList">{{item.name}}</option>
        </select>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="wid-fix"><label for="priceUnit"><i class="icons-red">*</i>计量单位：</label></td>
      <td>
        <select name="priceUnit" id="priceUnit" class="form-control" [(ngModel)]="paramsObj.measUnitId">
          <option value="">请选择</option>
          <option value="{{item.code}}" *ngFor="let item of priceUnitList">{{item.name}}</option>
        </select>
        <!-- <input type="text" class="form-control" id="priceUnit" placeholder="" [(ngModel)]="priceUnit"
          name="priceUnit">
        </td> -->
      <td><label for="priceUnitNumber"><i class="icons-red">*</i>单位子数量：</label></td>
      <td> <input type="number" class="form-control" id="priceUnitNumber" placeholder=""
          [(ngModel)]="paramsObj.splitNumber" name="priceUnitNumber"></td>
    </tr>
    <tr>
      <td class="wid-fix"><label for="volume"><i class="icons-red">*</i>体积：</label></td>
      <td> <input type="text" class="form-control" id="volume" placeholder="" [(ngModel)]="paramsObj.volume"
          name="volume"></td>
      <td><label for="weight"><i class="icons-red">*</i>重量：</label></td>
      <td> <input type="text" class="form-control" id="weight" placeholder="" [(ngModel)]="paramsObj.weight"
          name="weight"></td>
    </tr>
    <tr>
      <td class="wid-fix"><label for="boxBarCode"><i class="icons-red">*</i>箱条形码：</label></td>
      <td> <input type="text" class="form-control" id="boxBarCode" placeholder="" [(ngModel)]="paramsObj.boxBarCode"
          name="boxBarCode"></td>
      <td><label for="packageBarCode"><i class="icons-red">*</i>瓶条形码：</label></td>
      <td> <input type="text" class="form-control" id="packageBarCode" placeholder=""
          [(ngModel)]="paramsObj.packageBarCode" name="packageBarCode"></td>
    </tr>
    <tr>
      <td><label for="description">描述：</label></td>
      <td colspan="3"> <input type="text" class="form-control" id="description" placeholder=""
          [(ngModel)]="paramsObj.description" name="description"></td>
    </tr>
  </table>
</div>
<div class="modal-footer btn_center">
  <button type="button" class="btn btn-primary" (click)="editGoods()">确认</button>
</div>