<div class="modal-header">
    <h4 class="modal-title pull-left">编辑企业角色</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form nz-form nzLayout="horizontal">
        <nz-form-item>
            <nz-form-label [nzSpan]="4">角色编号</nz-form-label>
            <nz-form-control [nzSpan]="20">
                <nz-form-text>{{companyRoleObj.id}}</nz-form-text>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="4">角色名称</nz-form-label>
            <nz-form-control [nzSpan]="20">
                <nz-form-text>{{companyRoleObj.companyRoleName}}</nz-form-text>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzFor="description">角色描述</nz-form-label>
            <nz-form-control [nzSpan]="20">
                <input nz-input [(ngModel)]="companyRoleObj.description" id="description" name="description" placeholder="请输入角色描述">
            </nz-form-control>
        </nz-form-item>
    </form>
    <!-- <form class="form-horizontal">
        <div class="form-group">
            <label for="roleId" class="col-sm-2 control-label">角色编号：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="roleId" name="roleId"
                    [(ngModel)]="companyRoleService.companyRoleObj.id" disabled>

            </div>
        </div>
        <div class="form-group">
            <label for="companyRoleName" class="col-sm-2 control-label">角色名称：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="companyRoleName" name="companyRoleName"
                    [(ngModel)]="companyRoleService.companyRoleObj.companyRoleName" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">角色描述：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description"
                    [(ngModel)]="companyRoleService.companyRoleObj.description">
            </div>
        </div>
    </form> -->
</div>
<div class="modal-footer btn_center">
    <button type="button" class="btn btn-primary" (click)="editCompanyRole()">确认修改</button>
</div>