<app-header></app-header>
<!-- Main content -->
<section class="content">
  <div class="box box-white">
    <div class="box-body box-body-grey">
      <div class="search-wraper">
        <form nz-form>
          <div nz-row nzGutter="24">
            <div nz-col nzSpan="6">
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired="true">仓库名称</nz-form-label>
                <nz-form-control [nzSpan]="18">
                  <nz-select [(ngModel)]="locationService.warehouseId" name="value" nzPlaceHolder="请选择仓库" nzAllowClear
                    nzShowSearch style="width: 100%;">
                    <nz-option *ngFor="let item of stockList" [nzLabel]="item.name" [nzValue]="item.id">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="6">
              <nz-form-item>
                <nz-form-label [nzSpan]="6">库位编号</nz-form-label>
                <nz-form-control [nzSpan]="18">
                  <input nz-input [(ngModel)]="locationService.locationNumber" name="locationNumber"
                    placeholder="请输入库位编号">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="6">
              <nz-form-item>
                <nz-form-label [nzSpan]="6">库位名称</nz-form-label>
                <nz-form-control [nzSpan]="18">
                  <input nz-input [(ngModel)]="locationService.locationName" name="locationName" placeholder="请输入库位名称">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="6">
              <nz-form-item>
                <nz-form-label [nzSpan]="6">库位类型</nz-form-label>
                <nz-form-control [nzSpan]="18">
                  <nz-select [(ngModel)]="locationService.locationType" name="locationType" nzPlaceHolder="请选择库位类型"
                    nzAllowClear nzShowSearch style="width: 100%;">
                    <nz-option *ngFor="let item of locationTypeList" [nzLabel]="item.name" [nzValue]="item.code">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzSpan]="24" style="text-align: right;">
              <button nz-button nzType="default" (click)="searchLocation()"><i nz-icon type="search"></i>查询</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h4 class="box-title">库位列表</h4>
      <div class="pull-right">
        <button nz-button type="button" nzType="primary" (click)="addLocation()"><i nz-icon
            nzType="plus"></i>新增</button>
      </div>
    </div>
    <div class="box-body">
      <div class="">
        <nz-table #nzTable [nzData]="locationService.locationList" nzShowPagination="false" nzBordered="true"
          [nzLoading]="locationService.load.loading11">
          <thead>
            <tr>
              <th nzAlign="center">库位编号</th>
              <th nzAlign="center">库位名称</th>
              <th nzAlign="center">库位类型</th>
              <th nzAlign="center">仓库名称</th>
              <th nzAlign="center">创建时间</th>
              <th nzAlign="center">备注</th>
              <th nzAlign="center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of nzTable.data">
              <td nzAlign="center">{{item.warehouseLocationNumber}}</td>
              <td nzAlign="center">{{item.warehouseLocationName}}</td>
              <td nzAlign="center">{{locationTypeMap.get(item.typeId)}}</td>
              <td nzAlign="center">{{warehouseMaps.get(item.warehoseId)}}</td>
              <td nzAlign="center">{{item.createTime}}</td>
              <td nzAlign="center">{{item.description}}</td>
              <td nzAlign="center">
                <a (click)="editLocation(item)">编辑</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="viewStock(item)">查看库存</a>
                <nz-divider nzType="vertical"></nz-divider>
                <nz-popconfirm nzTitle="确定吗？" (nzOnConfirm)="deleteLocation(item.id)">
                  <a nz-popconfirm>删除</a>
                </nz-popconfirm>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
</section>
<!-- /.content -->