<div class="modal-header">
  <h4 class="modal-title pull-left">单位类型编辑</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table text-right" id="search-head">
    <tr>
      <td class="wid-fix"><label for="priceUnitTypeNumber">编号：</label></td>
      <td> <input type="text" class="form-control" id="priceUnitTypeNumber" placeholder="" [(ngModel)]="paramsObj.id"
          name="priceUnitTypeNumber" disabled></td>
    </tr>
    <tr>
      <td class="wid-fix"><label for="priceUnitTypeName">单位类型名称：</label></td>
      <td> <input type="text" class="form-control" id="priceUnitTypeName" placeholder="" [(ngModel)]="paramsObj.typeName"
          name="priceUnitTypeName"></td>
    </tr>
  </table>
</div>
<div class="modal-footer btn_center">
  <button type="button" class="btn btn-primary" (click)="editPriceUnitType()">确认</button>
</div>