<div class="modal-header">
  <h4 class="modal-title pull-left">员工角色权限分配</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center" *ngIf="!loadedFlag">
  <div class="loading-wrapper">
    <nz-spin [nzTip]="'Loading...'" nzSimple></nz-spin>
  </div>
</div>
<div class="modal-body" *ngIf="loadedFlag">
  <nz-tree #nzTreeComponent [(nzData)]="nodeList" nzCheckable nzMultiple [nzCheckedKeys]="defaultCheckedKeys">
  </nz-tree>
</div>
<div class="modal-footer btn_center">
  <button type="button" class="btn btn-primary" (click)="authStaffRole()">提交</button>
</div>