td>label{
    font-size: 12px;
    height: 34px;
    line-height: 34px;
}
/* .t_label{
    width: 20%;
}
.t_half{
    width: 40%;
}
table{
    margin: 0;
}
.modal-body{
    padding: 0 15px;
}
.btn_center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.role-group{
    display: flex;
    align-items: center;
    justify-content: center;
} */